.container {
    text-align: center;
    background-color: red;
    color: white;
    font-size: 32px;
    font-weight: bold;  
}

.container p {
    margin:0px;
}

#verde {
    background-color: green;
    color: white;
    font-size: 18px;
}

#boton {
    background-color: orange;
    font-size: 18px;
    
}